/* Copyright {Clearfeather Design Productions} */
/* MOBILE FIRST DESIGN */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Copyright Clearfeather Design Productions */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #575757;
  font-size: 1.6rem;
}

body a:link, body a:visited {
  color: #575757;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 2.5;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -.025rem;
  padding: 0 0 2rem;
}

html {
  scroll-behavior: smooth;
}

#navLinks {
  display: none;
  margin-top: 20vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  max-width: 75rem;
}

@media only screen and (min-width: 768px) {
  #navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: inherit;
    align-items: flex-end;
    margin-right: 2rem;
    margin-top: 0;
    height: 100%;
    opacity: .8;
  }
}

#navLinks a {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5rem;
  opacity: .8;
  margin-bottom: 2rem;
  -webkit-transition: .2s;
  transition: .2s;
}

#navLinks a:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  #navLinks a {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    opacity: .7;
    color: #000;
  }
  #navLinks a:hover {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

form {
  margin-top: 3rem;
  max-width: 50rem;
  margin: auto;
}

form input[type=text],
form input[type=email],
form select,
form textarea {
  width: 100%;
  opacity: .5;
  max-width: 50rem;
  padding: .75rem;
  border: 1px solid #4F5953;
  border-radius: .25rem;
  font-family: inherit;
}

form input[type=text]:focus,
form input[type=email]:focus,
form select:focus,
form textarea:focus {
  opacity: 1;
}

form label {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin: 1rem 0;
}

form input[type=submit] {
  display: block;
  margin: auto;
  padding: 1.25rem 4rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #FFF;
  background-color: #4F5953;
  border: none;
  border-radius: .5rem;
  opacity: .8;
  cursor: pointer;
}

form input[type=submit]:hover {
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

form p {
  font-size: 1rem;
  margin-top: 2rem;
}

header {
  background: url("../img/unsplash/pine-watt-2Hzmz15wGik-unsplash-web.webp") no-repeat;
  background-size: cover;
  background-position: 42% 50%;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 768px) {
  header {
    min-height: 100%;
  }
}

header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vh;
  background: rgba(255, 251, 246, 0.85);
}

@media only screen and (min-width: 768px) {
  header .top {
    height: 15rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header .top .logo {
  width: 50%;
  height: 100%;
  position: relative;
}

header .top .logo img {
  width: 85%;
  max-width: 16rem;
  display: block;
  margin: auto;
  position: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 1rem;
}

@media only screen and (min-width: 768px) {
  header .top .logo img {
    margin: auto 2rem 0;
  }
}

header .top nav {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: rgba(255, 251, 246, 0);
}

header .top nav span {
  width: 66%;
  margin: auto;
  display: block;
  position: inherit;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: right;
  padding-right: 1rem;
  padding-top: 3rem;
  cursor: pointer;
}

header .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  position: relative;
  height: 80vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 768px) {
  header .middle {
    height: 50rem;
  }
}

header .middle .title {
  height: 40%;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

@media only screen and (min-width: 768px) {
  header .middle .title {
    height: 20rem;
  }
}

header .middle .title h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .15em;
}

header .middle .title h1 span {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.5;
  display: block;
  letter-spacing: .2em;
}

header .middle .title h2 {
  color: #B59E82;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.75;
  letter-spacing: .15em;
}

header .middle .button {
  height: 30%;
}

header .middle .button button {
  background-color: rgba(243, 245, 238, 0.85);
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #515151;
  font-size: 1.35rem;
  font-weight: 100;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .12s;
  transition: .12s;
}

header .middle .button button:hover {
  background-color: rgba(108, 115, 109, 0.8);
  color: #FFF;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 15px -3px rgba(255, 255, 255, 0.5);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

header .middle .button button:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

header .middle .social-buttons {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .middle .social-buttons img {
  opacity: .8;
  width: 2rem;
  margin: 0 .5rem;
}

header .middle .social-buttons img:hover {
  cursor: pointer;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  header .middle .social-buttons {
    position: absolute;
    z-index: 1;
    margin-top: -12rem;
    top: 1.5rem;
    right: 1.5rem;
    -webkit-filter: brightness(0.25);
            filter: brightness(0.25);
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

header .menuBackground {
  background: rgba(255, 251, 246, 0.85);
}

@media only screen and (min-width: 768px) {
  header .hidedesk {
    display: none;
  }
}

.services {
  padding: 9rem 3rem;
  position: relative;
}

.services::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  background: url("../img/unsplash/ales-krivec-4miBe6zg5r0-unsplash-web.webp") no-repeat;
  opacity: .1;
  background-size: cover;
  background-position: 40% 50%;
}

.services h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.services .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 200rem;
  margin: 0 auto;
}

.services .services-list .item {
  padding: 3rem 0;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .services .services-list .item {
    width: 50%;
  }
}

.services .services-list .item img {
  width: 4rem;
}

.services .services-list .item p {
  font-size: 1.5rem;
  letter-spacing: .12rem;
  word-spacing: .2rem;
  line-height: 1.75;
}

.services .services-list :nth-last-child(1) {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.services .services-list .contact {
  font-size: 1.75rem;
  letter-spacing: .12rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.services .services-list .contact:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media only screen and (min-width: 768px) {
  .services .services-list .contact {
    text-align: center;
  }
}

.portfolio {
  background: rgba(14, 19, 12, 0.95);
  overflow-x: hidden;
  padding: 9rem 3rem;
}

.portfolio .latest-works, .portfolio .sub-cat {
  max-width: 200rem;
  margin: 0 auto;
}

@media only screen and (min-width: 930px) {
  .portfolio .sub-cat {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.portfolio h1 {
  text-align: center;
  margin-bottom: 3rem;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.05);
  padding: 2rem 0;
  margin: 0 -9999rem;
}

.portfolio .slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0;
}

@media only screen and (min-width: 640px) and (max-width: 929px) {
  .portfolio .slideshow {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: auto auto 100% 100%;
        grid-template-rows: auto auto 100% 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio .slideshow:nth-last-of-type(1) {
  margin-bottom: 0rem;
}

.portfolio .slideshow img {
  width: 13rem;
  height: 13rem;
  margin: 0 .75rem 1.5rem;
  border-radius: .5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

@media only screen and (min-width: 640px) and (max-width: 929px) {
  .portfolio .slideshow img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.portfolio .slideshow img:hover {
  border: 1px solid white;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.portfolio .slideshow .portfolio-contact {
  width: 100%;
  text-align: center;
}

.portfolio .slideshow .portfolio-contact a:link, .portfolio .slideshow .portfolio-contact a:visited {
  color: rgba(255, 255, 255, 0.7);
}

.portfolio .slideshow .portfolio-contact a:hover {
  color: #FFF;
}

.portfolio .slideshow .border-bottom {
  border-bottom: 1px solid white;
  width: 20rem;
  margin: 3rem 0;
}

@media only screen and (min-width: 930px) {
  .portfolio .slideshow .hidedesk {
    display: none;
  }
}

.about-connect {
  position: relative;
  text-align: center;
  position: relative;
}

.about-connect::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  background: url("../img/unsplash/matheo-jbt-pLoal7b3-eI-unsplash-web.webp") no-repeat;
  opacity: .1;
  background-size: cover;
  background-position: 40% 50%;
}

.about-connect .about {
  padding: 9rem 3rem;
  max-width: 200rem;
  margin: 0 auto;
}

.about-connect .about h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.about-connect .about h2 {
  text-align: center;
  line-height: 1.75;
  margin-bottom: 2rem;
}

.about-connect .about p {
  font-size: 1.5rem;
  letter-spacing: .12rem;
  word-spacing: .2rem;
  line-height: 1.75;
}

.about-connect .about img {
  width: 35rem;
  max-width: 100%;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 2rem 0;
}

@media only screen and (min-width: 768px) {
  .about-connect .about img {
    position: absolute;
    left: 3rem;
  }
}

.about-connect .about .contact {
  font-size: 1.75rem;
  letter-spacing: .12rem;
  -webkit-transition: .2s;
  transition: .2s;
  text-align: center;
}

.about-connect .about .contact:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media only screen and (min-width: 768px) {
  .about-connect .about .contact {
    margin-top: 3rem;
    text-align: right;
  }
}

@media only screen and (min-width: 768px) {
  .about-connect .about .mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .about-connect .about .desk {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .about-connect .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-connect .about .cat-side {
    width: 50%;
    position: relative;
    min-height: 350px;
  }
  .about-connect .about .cat-side h1,
  .about-connect .about .cat-side h2,
  .about-connect .about .cat-side p {
    text-align: right;
  }
  .about-connect .about .cat-side img {
    margin: 0 0;
  }
}

.about-connect .connect-back {
  padding-bottom: 5rem;
}

.about-connect .connect {
  padding: 9rem 3rem;
  max-width: 200rem;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.75);
  padding: 3rem;
}

@media only screen and (min-width: 930px) {
  .about-connect .connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about-connect .connect .cat-side {
    width: 50%;
    margin: 0 3rem;
  }
  .about-connect .connect .verbiage {
    text-align: left;
    margin-top: 3rem;
  }
  .about-connect .connect .verbiage h1 {
    text-align: left;
  }
  .about-connect .connect .verbiage p > strong {
    font-weight: 600;
    font-size: 1.65rem;
  }
  .about-connect .connect form input[type=submit] {
    margin-left: 0;
  }
  .about-connect .connect form p {
    text-align: left;
  }
}

.about-connect .connect p {
  font-size: 1.5rem;
  letter-spacing: .12rem;
  word-spacing: .2rem;
  line-height: 1.75;
  margin: 2rem 0;
}

.about-connect .connect h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.storefront {
  padding: 9rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.storefront > * {
  width: 100%;
}

.storefront h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.storefront .faa {
  width: 25rem;
  height: auto;
  margin: 2rem auto .5rem;
}

.storefront .faa-capture {
  width: 100%;
  max-width: 50rem;
  margin: 2rem auto;
}

.storefront .visitfaa {
  font-size: 1.75rem;
  letter-spacing: .12rem;
  -webkit-transition: .2s;
  transition: .2s;
}

.storefront .visitfaa:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

footer {
  padding: 9rem 3rem;
  background-color: rgba(79, 89, 83, 0.8);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
}

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  background: url("../img/unsplash/vincent-van-zalinge-jj2ab1xIxrg-unsplash-web.webp") no-repeat;
  opacity: .1;
  background-size: cover;
  background-position: 40% 50%;
}

footer::before {
  opacity: .8;
}

@media only screen and (min-width: 930px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .f-group {
  margin: 2rem 5rem;
}

@media only screen and (max-width: 929px) {
  footer .f-group:nth-of-type(1) {
    margin-top: -3rem;
  }
}

footer li {
  font-size: 1.5rem;
  padding: .5rem 0;
}

footer a:link,
footer a:visited {
  color: #FFF;
}

footer a:hover {
  text-decoration: underline;
}

footer .social-buttons {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .social-buttons img {
  opacity: .8;
  width: 2rem;
  margin: 0 .5rem;
}

footer .social-buttons img:hover {
  cursor: pointer;
  opacity: 1;
}

footer .social-buttons img {
  width: 1.7rem;
}

footer .sign-up {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

footer form {
  margin: auto 0;
}

footer input[type=email] {
  margin-top: 2rem;
  opacity: .9;
  color: #FFF;
  background: rgba(255, 255, 255, 0);
  border: 1px solid #FFF;
  border-radius: .25rem;
}

footer input[type=email]:focus {
  opacity: 1;
}

footer input[type=submit] {
  display: block;
  margin: 2rem 0;
  color: #4F5953;
  background-color: #FFF;
  opacity: .9;
}

footer input[type=submit]:hover {
  opacity: 1;
  -webkit-transition: all .2s;
  transition: all .2s;
}

footer .copyright {
  font-size: 1rem;
  padding-top: 2rem;
}
/*# sourceMappingURL=main.css.map */